* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fef4f7;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -35px;
}

/*
 * Header
 *
 */

header {
  background-color: #f48fb1;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}

.header_title {
  font-weight: 800;
  font-size: 2em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #180e12;
}

.brand_logo {
  width: 35px;
  position: relative;
  top: 5px;
  left: 5px;
}

/*
 * Main
 *
 */
#main_content .content_wrapper {
  margin-top: -35px;
  padding: 0 5% 6% 5%;
}

#main_content::before {
  content: "";
  display: block;
  background-image: url(../assets/img/bg_book.jpg);
  background-color: rgba(252, 221, 232, 0.25);
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
  min-height: 100px;
  background-attachment: fixed;
}

.card {
  display: block;
  margin-bottom: 18px;
  box-shadow: 0 4px 8px 0 rgba(52, 73, 94, 0.2);
  border-radius: 10px;
  overflow: hidden;
  color: #180e12;
  background-color: #fff;
  height: fit-content;
}

p {
  font-size: 14px;
}

form#form_add {
  display: grid;
  grid-row-gap: 15px;
}

.form_group {
  display: grid;
  grid-row-gap: 5px;
}

.form_group label {
  font-size: 14px;
  font-weight: lighter;
}

form#form_search {
  position: relative;
}

form#form_search #btn_search {
  position: absolute;
  right: 1%;
  top: 5%;
}

.section_content {
  padding: 5%;
}

.section_header {
  margin-left: 5%;
  margin-right: 5%;
}

.section_title {
  font-size: 1.5em;
  text-align: center;
  color: #180e12;
  margin-bottom: 0;
}

input[type="text"],
input[type="number"],
input[type="search"] {
  padding: 5px;
  border: 1px solid #180e12;
  border-radius: 15px;
  min-width: 44px;
  min-height: 44px;
  font-family: inherit;
}

input[type="search"] {
  width: 100%;
}

input[type="checkbox"] {
  width: fit-content;
}

button {
  font-size: 1em;
  font-family: inherit;
  border: none;
  color: #180e12;
  cursor: pointer;
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
}

button#submit {
  background-color: #f48fb1;
  padding: 10px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(52, 73, 94, 0.2);
  transition: 0.5s linear;
}

button#submit:hover {
  background-color: #fcdde8;
}

button#btn_search,
button.not_finished_button,
button.finished_button,
button.remove_button {
  background-color: transparent;
}

.notification {
  background-color: #fcdde8;
  padding: 2%;
  border-radius: 10px;
}

.notification p {
  font-style: italic;
  text-align: center;
}

.content_store article {
  padding: 2% 6%;
  background-color: #fef4f7;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5px;
  align-items: center;
}

.content_store article p,
.content_store article h3 {
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
}

.content_store article h3 {
  font-weight: bold;
}

.content_store article .article_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}

/*
 * Dialog
 *
 */

.dialog_overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(24, 14, 18, 0.5);
  padding-top: 50px;
}

.dialog {
  box-shadow: 0 4px 8px 0 rgba(52, 73, 94, 0.2);
  border-radius: 10px;
  overflow: hidden;
  color: #180e12;
  background-color: #fff;
  width: 25%;
  min-width: 265px;
  margin: auto;
  padding: 2%;
  text-align: center;
}

.dialog h2,
.dialog p {
  margin: 0;
}

.dialog h2 {
  font-size: 1.5em;
}

.dialog .dialog_action {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

button.btn_cancel,
button.btn_delete {
  border-radius: 15px;
}

button.btn_delete {
  background-color: #f33636;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(52, 73, 94, 0.2);
  opacity: 0.8;
  transition: 0.5s linear;
  color: #fef4f7;
}

button.btn_delete:hover {
  opacity: 1;
}

/*
 * Footer
 *
 */
footer {
  background-color: #f48fb1;
  color: #180e12;
  min-height: 35px;
  padding: 1%;
  text-align: center;
}

@font-face {
  font-family: "poppins";
  src: url("../assets/font/Poppins-Regular.ttf");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("../assets/font/MaterialIcons-Regular.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
